body {
background-color: rgb(173,216,230);
 margin: 0px;
    font-family: Roboto, sans-serif;
    font-style: bold;
    font-size: 16px;

}

    .topnav {
        overflow: hidden;
        background-color: #333;
        height: 50px;
        width: 1900px;
    }

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: red;
        color: white;
        }


.flag {
margin-left: 570px;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #cd3d2e;
  border-radius: 5px;
}


.flag .blue {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.flag .blue:before, .flag .blue:after {
  position: absolute;
  content: '';
  background-color: #34495e;
}
.flag .blue:before {
  bottom: 0;
  left: 95px;
  width: 20px;
  height: 100%;
}
.flag .blue:after {
  top: 50%;
  right: 0;
  width: 100%;
  height: 20px;
  transform: translateY(-50%);
}
.flag .white {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.flag .white:before, .flag .white:after {
  position: absolute;
  content: '';
  background-color: #fff;
}
.flag .white:before {
  bottom: 0;
  left: 85px;
  width: 40px;
  height: 100%;
}
.flag .white:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
}

.container{
    width: 600px;
    margin-left: 400px;
    display: grid;
    pointer-events: none;

}

.slider1 {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    -webkit-appearance: none;
}
.slider1 {
    --sliderSize: 15px;
    --sliderColor4: #111111;
    background: rgba(200, 200, 200, 0.4);

}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--sliderSize);
    height: var(--sliderSize);
    border-radius: 50%;
    background: var(--sliderColor4);
    opacity: 1;
}

.url4 {
    grid-column: 1;
    grid-row: 1;
}


.labelsliderleft {
    float: left;
    margin-left: -180px;
    transform: translate(-20px, -20px);

}

.labelsliderright {
    float: right;
    margin-right: -230px;
    transform: translate(20px, -20px);
}

